<!DOCTYPE html>
<html>
    <head>
        <title>Employee Home</title>
        <meta charset="utf-8">

         <!-- Importing styling -->
        <link rel="stylesheet" href="../css/employeeHome.css">
        <!-- Importing custom Javascript -->
        <script src="../js/employeeHome.js"></script>
        <!-- Importing jQuery via Google CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        
        <h1 id="employeeHomeHeader">Employee Home</h1>

        <table id="resultsTable">
            <tr id="tableHeader">
                <th id="collectionDateHeader">Collection Date</th>
                <th id="resultHeader">Result</th>
            </tr>

            <% JSON.parse(results).forEach( (row) => { %>
                <tr>
                    <td class="collectionDateCell">
                        <%= row['collectionDate'] %>
                    </td>
                    <td class="resultCell">
                        <%= row['result'] %>
                    </td>
                </tr>
            <% }); %>
        </table>
        
    </body>
</html>