<!DOCTYPE html>
<html>
    <head>
        <title>Employee Home</title>
        <meta charset="utf-8">

         <!-- Importing styling -->
        <link rel="stylesheet" href="../css/employeeHome.css">
        <!-- Importing custom Javascript -->
        <script src="../js/employeeHome.js"></script>
        <!-- Importing jQuery via Google CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
        <h1>Employee Home</h1>
        <table>
            <tr>
                <th id = "collectionTime">Collection Date</th>
                <th id = "result">Result</th>
            </tr>
            <tr>
            </tr>
        </table>
    <body>
    </body>
</html>