<!DOCTYPE html>
<html>
    <head>
        <title>Lab Home</title>
        <meta charset="utf-8">

         <!-- Importing styling -->
        <link rel="stylesheet" href="/css/labtech.css">
        <!-- Importing custom Javascript -->
        <script src="../js/labtech.js"></script>
        <!-- Importing jQuery via Google CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <h1>Lab Home</h1>
        <form action="/PoolMapping" method="GET" class="" id="poolMappingForm">
            <input type="submit" value="Pool Mapping" id="poolMappingButton">
        </form>
        <form action="/wellTesting" method="GET" class="" id="wellTestingForm">
            <input type="submit" value="Well Testing" id="wellTestingButton">
        </form>
    </body>
</html>