<!DOCTYPE html>
<html>
    <head>
        <title>Pool Mapping</title>
        <meta charset="utf-8">

         <!-- Importing styling -->
        <link rel="stylesheet" href="/css/poolMapping.css">
        <!-- Importing custom Javascript -->
        <script src="../js/poolMapping.js" defer></script>
        <!-- Importing jQuery via Google CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <h1>Pool Mappinig (updated 11/24)</h1>
        <form action="/labhome" method="get" class="" id="homeButton">
            <input type="submit" value="Home">
        </form>
        <hr>
        <form action="/poolMapping" method="POST" id="submitPool">
            <label for="poolBarcode">Pool Barcode: </label>
            <input type="text" name="poolBarcode">
            <p>Test Barcodes: </p>
            <div id="testBarcodes">
                <ol id="barcodesList">
                    <!-- <li><input type="text" name="b1"></li>
                    <li><input type="text" name="b2"></li> -->
                </ol>

            </div>
            
            <br>

            <button id="addRow">Add More Rows</button>
            <input type="submit" value="Submit Pool">
        </form>
        

        <hr>

        <table id="poolMappingTable">
            <tr>
                <th>Pool Barcode</th>
                <th>Test Barcodes</th>
            </tr>
            <% if (poolmap) { %>
                <% for(i = 0; i < poolmap.length; i++){%>
                    <tr>
                        <td><%= poolmap[i].poolBarcode %></td>
                        <% let testBarcodesString = ''
                            for(j = 0; j < poolmap[i].testBarcodes.length; j++){
                                testBarcodesString += `${poolmap[i].testBarcodes[j]}`
                                if(j < poolmap[i].testBarcodes.length - 1)
                                testBarcodesString += `, `
                            }
                                
                         %> 
                        <td><%=testBarcodesString%><td>
                    </tr>
                <%}%>
                <br>
            <% } %>
            
        </table>
        <button>Edit Pool</button>
        <button>Delete Pool</button>

        <div>
            <% testStr = 'sfhesriuhr'%> 
            
            


        </div>
    </body>
</html>