<!DOCTYPE html>
<html>
    <head>
        <title>Test Collection</title>
        <meta charset="utf-8">

         <!-- Importing styling -->
        <link rel="stylesheet" href="../css/testCollection.css">
        <!-- Importing custom Javascript -->
        <script src="../js/testCollection.js"></script>
        <!-- Importing jQuery via Google CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <h1>Test Collection</h1>
        <form action="/testCollection" method="POST">
            <label for="employeeID">Employee ID:</label>
            <input type="text" name="employeeID"><br><br>

            <label for="testBarcode">Test barcode:</label>
            <input type="text" name="testBarcode"><br><br>

            <input type="submit" value="Add">
        </form><br>

        <table id = employees>
            <tr>
                <th>Employee ID</th>
                <th>Test barcode</th>
            </tr>
            
            <% if (collection) { %>
                <% for(i = 0; i < collection.length; i++){ %>
                    <tr>
                        <td><%= collection[i].employeeID %></td>
                        <td><%= collection[i].testBarcode %></td>
                    </tr>
                <% } %>
            <% } %>
        </table>
    </body>
</html>