<!DOCTYPE html>
<html>
    <head>
        <title>Well Testing</title>
        <meta charset="utf-8">

        <!-- Importing styling -->
        <link rel="stylesheet" href="/css/wellTesting.css">
        <!-- Importing Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <!-- Importing custom Javascript -->
        <script src="../js/wellTesting.js"></script>
        <!-- Importing jQuery via Google CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body onload="setSelect('<%data%>')">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/labHome">Lab Employee</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/labHome">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/testCollection">Test Collection <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/poolMapping">Pool Mapping <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="/wellTesting">Well Testing <span class="sr-only">(current)</span></a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0" action="/labTech" method="GET">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log out</button>
                </form>
            </div>
        </nav>

        <div class="wellTestingContainer">
            <div class="container">
                <div class="p-2">
                    <form action="/wellTesting" method="POST" id="submitPool">
                        <div class="form-group">
                            <label for="wellBarcode">Well Barcode: </label>
                            <input class="form-control" type="text" name="wellBarcode">
                        </div>

                        <div class="form-group">
                            <label for="poolBarcode">Pool Barcode: </label>
                            <input class="form-control" type="text" name="poolBarcode">
                        </div>

                        <div class="form-group">
                            <label for="result">Result: </label>
                            <select class="form-control" name="result" id="result">
                                <option value="in progress">in progress</option>
                                <option value="negative">negative</option>
                                <option value="positive">positive</option>
                            </select>
                        </div>

                        <input class="btn btn-outline-primary" type="submit" value="Add">
                    </form>
                    <hr>

                    <form action="/wellTesting" method = "POST">
                    <table class="table table-bordered" id="wellTestingTable">
                        <thead class="thead-dark">
                            <th>Well Barcode</th>
                            <th>Pool Barcode</th>
                            <th>Result</th>
                            <th>Update Result</th>
                        </thead>

                        <% if (data) { %>
                            <% for(i = 0; i < data.length; i++){%>
                                <tr>
                                    <td><%= data[i].wellBarcode %></td>
                                    <td><%= data[i].poolBarcode %></td>
                                    <td><%= data[i].result %></td>
                                    <td>
                                        <select name="newResult" class="editWellTest">
                                            <%if(data[i].result == "in progress"){%>
                                                <option value="in progress" selected>in progress</option>
                                            <% }else{ %> 
                                                <option value="in progress">in progress</option>
                                            <% }%>
                                            <%if(data[i].result == "negative"){%>
                                                <option value="negative" selected>negative</option>
                                            <% }else{ %> 
                                                <option value="negative">negative</option>
                                            <% }%>
                                            <%if(data[i].result == "positive"){%>
                                                <option value="positive" selected>positive</option>
                                            <% }else{ %> 
                                                <option value="positive">positive</option>
                                            <% }%>
                                            <!-- <option value="negative">negative</option>
                                            <option value="positive">positive</option> -->
                                        </select>
                                    </td>
                                </tr>
                            <%}%>
                        <% } %>
                    </table>

                    <input class="btn btn-outline-primary" type="submit" value="Update Results">

                    <!-- <button class="btn btn-outline-primary">Edit</button>
                    <button class="btn btn-danger">Delete</button> -->
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>