<!DOCTYPE html>
<html>
    <head>
        <title>Well Testing</title>
        <meta charset="utf-8">

         <!-- Importing styling -->
        <link rel="stylesheet" href="/css/wellTesting.css">
        <!-- Importing custom Javascript -->
        <script src="../js/labtech.js"></script>
        <!-- Importing jQuery via Google CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <h1>Well Testing</h1>
        <form action="/labhome" method="GET" class="" id="home-button">
            <input type="submit" value="Home">
        </form>
        <hr>
        <form action="/wellTesting" method = "POST" id="addWellTest">
            <label for="wellBarcode">Well Barcode: </label>
            <input type="text" name="wellBarcode">
            <br>
            <label for="poolBarcode">Pool Barcode: </label>
            <input type="text" name="poolBarcode">
            <br>
            <label for="result">Result: </label>
            <select name="result" id="result">
                <option value="in progress">in progress</option>
                <option value="negative">negative</option>
                <option value="positive">positive</option>
            </select>
            <br>
            <input type="submit" value="Add">
        </form>
        <hr>
        <table id="wellTestingTable">
            <tr>
                <th>Well Barcode</th>
                <th>Pool Barcode</th>
                <th>Result</th>
            </tr>
            <% if (data) { %>
                <% for(i = 0; i < data.length; i++){%>
                    <tr>
                        <td><%= data[i].wellBarcode %></td>
                        <td><%= data[i].poolBarcode %></td>
                        <td><%= data[i].result %></td>
                    </tr>
                <%}%>
                <br>
            <% } %>
        </table>
        <br>
        <button>Edit</button>
        <button>Delete</button>
    
    </body>
</html>